node-options=--max-old-space-size=8192
legacy-peer-deps=true
strict-peer-dependencies=false
package-lock=true
prefer-dedupe=true
maxsockets=50
prefer-offline=true
progress=false
audit=false
loglevel=error
fund=false
update-notifier=false
optional=true
fetch-timeout=60000
fetch-retry-mintimeout=10000
fetch-retry-maxtimeout=60000
