# Performance
node-options=--max-old-space-size=8192
maxsockets=50
prefer-offline=true
prefer-dedupe=true

# Dependencies
legacy-peer-deps=true
optional=true

# Network
fetch-timeout=60000
fetch-retry-mintimeout=10000
fetch-retry-maxtimeout=60000

# Quiet output
loglevel=error
progress=false
audit=false
fund=false
update-notifier=false
